{% extends "::administrador.html.twig" %}
{% block title %}
    Aseduis
{% endblock %}

{% block titulo %}
    <h2>Egresado: <small>Crear.</small></h2>
{% endblock %}


{% block contenido %}
    <form style="width: 800px;" role="form" class="form-horizontal center-block" action="{{ path('aseduis_egresados_crear') }}" method="post" {{ form_enctype(formEmpresaLabora) }} >


        {{ form_errors(formEmpresaLabora) }}   

        <div class="row">
            <div class="col-md-12" style="background: #f8f8f8; border: 1px solid #FFFFFF;"><h4>Empresa</h4></div>           
        </div>
        <br>
        <div class="form-group">
            {{ form_label(formEmpresaLabora.nombre, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEmpresaLabora.nombre) }}
                {{ form_widget(formEmpresaLabora.nombre) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formEmpresaLabora.cargo, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEmpresaLabora.cargo) }}
                {{ form_widget(formEmpresaLabora.cargo) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formEmpresaLabora.telefono, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEmpresaLabora.telefono) }}
                {{ form_widget(formEmpresaLabora.telefono) }}
            </div>
        </div>
        <label>Ciudad de ubicación de la empresa.   </label>
        <div class="form-group">
            <label class="col-sm-3 control-label">Departamento:</label>
            <div class="col-sm-8">
                <select id="departamentoCiudadEmpresa" name="departamentoCiudadEmpresa" class="form-control" required="">
                    <option value="">SELECCIONAR</option>
                    {% for departamento in departamentos %}
                        <option value="{{departamento.iddepartamento}}">{{departamento.nombre}}</option>
                    {% endfor %}
                </select>
                <p class="help-block">Seleccione el departamento al que pertenece la ciudad de la empresa. </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Ciudad:</label>
            <div class="col-sm-8">
                <div id="respuestaDepartamentoCiudadEmpresa">

                </div>
            </div>
        </div> 
        <div class="form-group">
            {{ form_label(formEmpresaLabora.direccion, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEmpresaLabora.direccion) }}
                {{ form_widget(formEmpresaLabora.direccion) }}
            </div>
        </div>


        {{ form_rest(formEmpresaLabora) }}  
        <div style="text-align: right">
            <button type="submit" class="btn btn-success btn-lg"  >
                <span class="glyphicon glyphicon-save"></span>Guardar</button>
            <a type="button" class="btn btn-default btn-lg" href="#"  >
                <span class="glyphicon glyphicon-log-out"></span> Salir</a>
        </div>
    </form>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        var x;
        x = $(document);
        x.ready(inicializarEventos);

        function inicializarEventos() {

            var slDepartamentoCiudad;
            slDepartamentoCiudad = $('#departamentoCiudad');
            slDepartamentoCiudad.change(buscarCiudadDepartamento);

            var slDepartamentoCiudadEmpresa;
            slDepartamentoCiudadEmpresa = $('#departamentoCiudadEmpresa');
            slDepartamentoCiudadEmpresa.change(buscarCiudadDepartamentoEmpresa);

        }
        {# 
            Buscar la ciudad de origen a partir del departamento seleccionado 
        #}
            function buscarCiudadDepartamento() {

                var slDepartamentoCiudad;
                slDepartamentoCiudad = $('#departamentoCiudad').val();
                var url;
                url = "{{ path('aseduis_frontal_general_buscarciudad', {'id': 'text', 'funcion':'listaCiudad'}) }}";
                url = url.replace("text", slDepartamentoCiudad);

                $('#respuestaDepartamentoCiudad').load(url);

            }
        {# 
             Buscar la ciudad en donde se encuentra ubicada la empresa
        #}
            function buscarCiudadDepartamentoEmpresa() {

                var slDepartamentoCiudadEmpresa;
                slDepartamentoCiudadEmpresa = $('#departamentoCiudadEmpresa').val();
                var url;
                url = "{{ path('aseduis_frontal_general_buscarciudad', {'id': 'text', 'funcion':'listaCiudadEmpresa'}) }}";
                url = url.replace("text", slDepartamentoCiudadEmpresa);

                $('#respuestaDepartamentoCiudadEmpresa').load(url);

            }
    </script>
{% endblock %}
